/* AboutUs.css */

.about-container {
    margin: 2rem 6rem;
    margin-top: 120px;
    text-align: start;
  }

.about-container h1{
  padding-bottom: 1rem;
}

.about-container p{
  padding-bottom: 2rem;
}

@media screen and (max-width: 850px){
  .about-container {
    margin: 4rem 2rem;
  }

}
  